/.idea
/.vscode
.env
/vendor/srmklive/paypal/tests/Mocks/samples/sample2.pdf
/vendor/srmklive/paypal/tests/Mocks/samples/sample.pdf 
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/logs
/storage/framework

.env
.env.*
.phpunit.result.cache

*.zip
*.tar
*.gz
*.log
*.cache
